html {
	background-color: #111;
	font-family:'Times New Roman', Times, serif;
}

body {
	width: 1000px;
	height: 100%;
}

li {
	color: white;
}

.fileHeader {
	font-size: 30px;
	font-style: italic;
	font-weight: bold;
	color: slategrey;
}

.declaration {
	font-size: 20px;
	font-weight: bold;
	color: lightslategrey;
}

p {
	color: white;
	font-size: 18px;
}

.heading-text {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 40px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	color: white;
	display: block;
}

.caption-text {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	color: white;
	display: block;
}

.sidebar-caption-text {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 24px;
	font-family: 'Roboto', sans-serif;
	color: white;
	display: block;
}

.reference-link {
	text-decoration: none;
	font-size: 22px;
	font-family: 'Roboto', sans-serif;
	color: #4775d1;
}

.paragraph {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	color: white;
	display: block;
}

.step {
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	color: black;
	display: block;
}
