#sidebar {
    background: #333;
}

#sidebar .sidebar-header {
    background: #333;
}


#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #757275;
}

ul ul a {
    background: #757275;
}

a.article,
a.article:hover {
    background: #757275 !important;
    color: #fff !important;
}

