#sidebar {
    background: #7386D5;
}

#sidebar .sidebar-header {
    background: #6d7fcc;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

ul ul a {
    background: #6d7fcc;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}
